.theme-custom .sidebar,
.theme-custom .sidebar-toggle:active,
.theme-custom #sidebar-checkbox:focus ~ .sidebar-toggle,
.theme-custom #sidebar-checkbox:checked ~ .sidebar-toggle {
    background-color: #20E656;
}
.theme-custom .container a,
.theme-custom .sidebar-toggle,
.theme-custom .related-posts li a:hover {
    color: #20E656;
}
.theme-custom .sidebar-toggle:before {
    background-image: -webkit-linear-gradient(to bottom, #20E656, #20E656 20%, #fff 20%, #fff 40%, #20E656 40%, #20E656 60%, #fff 60%, #fff 80%, #20E656 80%, #20E656 100%);
    background-image:    -moz-linear-gradient(to bottom, #20E656, #20E656 20%, #fff 20%, #fff 40%, #20E656 40%, #20E656 60%, #fff 60%, #fff 80%, #20E656 80%, #20E656 100%);
    background-image:     -ms-linear-gradient(to bottom, #20E656, #20E656 20%, #fff 20%, #fff 40%, #20E656 40%, #20E656 60%, #fff 60%, #fff 80%, #20E656 80%, #20E656 100%);
    background-image:         linear-gradient(to bottom, #20E656, #20E656 20%, #fff 20%, #fff 40%, #20E656 40%, #20E656 60%, #fff 60%, #fff 80%, #20E656 80%, #20E656 100%);
}
.theme-custom .sidebar-toggle:active:before,
.theme-custom #sidebar-checkbox:focus ~ .sidebar-toggle:before,
.theme-custom #sidebar-checkbox:checked ~ .sidebar-toggle:before {
    background-image: -webkit-linear-gradient(to bottom, #fff, #fff 20%, #20E656 20%, #20E656 40%, #fff 40%, #fff 60%, #20E656 60%, #20E656 80%, #fff 80%, #fff 100%);
    background-image:    -moz-linear-gradient(to bottom, #fff, #fff 20%, #20E656 20%, #20E656 40%, #fff 40%, #fff 60%, #20E656 60%, #20E656 80%, #fff 80%, #fff 100%);
    background-image:     -ms-linear-gradient(to bottom, #fff, #fff 20%, #20E656 20%, #20E656 40%, #fff 40%, #fff 60%, #20E656 60%, #20E656 80%, #fff 80%, #fff 100%);
    background-image:         linear-gradient(to bottom, #fff, #fff 20%, #20E656 20%, #20E656 40%, #fff 40%, #fff 60%, #20E656 60%, #20E656 80%, #fff 80%, #fff 100%);
}
